@page "/CarHistory/{carId:int}"
@inject IReservationService reservationService;
@inject ICarService carService;
@using Domain.Models
@using HttpClients.ClientInterfaces
@attribute [Authorize(Policy = "MustBeAdmin")]


<h3>Car History</h3>

<div class="container">
    @if (car != null)
    {
        <label>Reservations of @car.Model (@car.Brand):</label>
    }
    @if (reservations != null)
    {
        @foreach (var r in reservations)
        {
            <div class="row-col-6 d-flex">
                <div class="content">
                    <h3>Reservation ID: @r.Id</h3>
                    <p>User: @r.UserName</p>
                    <p>Start Date: @r.StartDate</p>
                    <p>End Date: @r.EndDate</p>
                    <p>Total Price: @r.TotalPrice</p>
                    <p>Is completed: @r.IsCompleted</p>
                </div>
            </div>
        }
    }

</div>


@code {
    [Parameter]
    public int carId { get; set; }

    private Car? car;

    private IEnumerable<Reservation>? reservations;

    protected override async Task OnInitializedAsync()
    {
        car = await carService.GetCarById(carId);

        if (car != null)
        {
            reservations = await reservationService.GetReservationsByCarId(carId);
        }
    }
}