@page "/ReservationHistory/{username}"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject AuthenticationStateProvider StateProvider;
@inject IReservationService reservationService;
@attribute [Authorize]


<h3>ReservationHistory</h3>

@if (reservations != null)
{
    @foreach (var r in reservations)
    {
        <div class="row-col-6 d-flex">
            <p>@r.Id, @r.CarId, @r.UserName, @r.StartDate, @r.EndDate, @r.TotalPrice</p>
        </div>
    }
}

@code {
    [Parameter]
    public string? username { get; set; }
    IEnumerable<Reservation>? reservations;


    protected override async Task OnInitializedAsync()
    {
        await GetLoggedInUserId();
        reservations = await reservationService.GetReservationsByUsername(username);
    }
    
    private async Task<string> GetLoggedInUserId()
    {
        AuthenticationState state = await StateProvider.GetAuthenticationStateAsync();
        username = state.User.Claims.FirstOrDefault(claim => claim.Type.Equals("username"))!.Value.ToString();
        return username;
    }
}