@page "/reservations"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IReservationService reservationService;
@attribute [Authorize(Policy = "MustBeAdmin")]

<div>
    @if (reservations != null && reservations.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Car ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in reservations)
                {
                    <tr>
                        <td>@reservation.Id</td>
                        <td>@reservation.UserName</td>
                        <td>@reservation.CarId</td>
                        <td>@reservation.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@reservation.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>@reservation.TotalPrice.ToString("C")</td>
                        <td>@(reservation.IsCompleted ? "Completed" : "Uncompleted")</td>
                        <td>
                            <a class="btn btn-danger" @onclick="() => CancelReservation(reservation.Id)">Cancel</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h3>No reservations to display.</h3>
        </div>
    }
</div>

@code {
    public IEnumerable<Reservation>? reservations;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            reservations = await reservationService.GetReservationsAsync();
        }
        catch(Exception e)
        {
            // Consider adding error handling logic here
        }
    }

    public async Task CancelReservation(int reservationId)
    {
        try
        {
            // Call the cancel method in the service
            await reservationService.CancelReservationAsync(reservationId);

            // Update the reservations list after cancellation
            reservations = await reservationService.GetReservationsAsync();
        }
        catch (Exception e)
        {
            // Handle cancellation error
        }
    }

}
